@charset "utf-8";
/* CSS Document */

#nav{
	list-style:none;
	background-color: #006699; 
	color:#FFFFFF;
	width:180px;
	margin:0px; 
	padding:0px;
	text-decoration:none;
}
#nav li{
	margin:0px;
	padding:0px;
	color:#FFFFFF;
	
}
#nav li a{
	display:block;
	padding:0 15px;
	line-height:2.5;
	border-bottom:1px solid #006699;
	text-decoration:none;
	color:#FFFFFF;
}
#nav li a:hover{
	background-color:darkcyan;
	color:#000;
	text-decoration:none;
}
